.form-control{
    height: 40px;
    background-color: var(--bg-th)!important;
    color:var(--text)!important;
    border-radius: 0 !important;
    border: none !important;
    border-bottom: 2.5px solid var(--text)!important;
    outline: 0!important;
}
.form-control::placeholder{
    color: var(--text)!important;
}