.bt{
    width: 100%;
    height: 45px;
    background-color: var(--bg-th) !important;
    border-color: var(--bg-th);
    position: relative;
    border-radius: 0 !important;
}
.bt:hover,
.bt:active{
    border-color: var(--bg-th);
}
.bt svg{
    fill: var(--text);
    right: min(5%, 10px);
    position: absolute;
}